html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background-color: #FAF8F2;

    color: #3A2418;

    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Cormorant Garamond', serif;
}